@import "../SCSS/variables.scss";


.header{
    background-color: white;
    padding: 1rem;
}
.headerUp {
    width: 100%;
}

.header-wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
    }

    .headerList{
        width: 60%;
    }

    .header__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 40%;
        }
        h3{
            margin-top: -1rem;
            font-size: 0.8rem;
            text-align: center;
            font-weight: 400;
        }
        span{
            color: #dd3b93;
        }
    }

    ul {
        display: flex;
        align-items: center;

        li:last-child {
            width: 6rem;
        }

        li {
            margin: 0 0.5rem;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            font-size: 1rem;

            &::before {
                content: "";
                position: absolute;
                background-color: black;
                height: 4px;
                width: 100%;
                bottom: -0.5rem;
                transform-origin: 100% 0;
                transform: scaleX(0);
                transition: transform 0.4s;
            }

            &:hover::before {
                transform-origin: 0 0;
                transform: scaleX(1);
            }
            .design {
                display: flex;
                align-items: center;
            }
            .fa-palette {
                margin-right: 0.2rem;
            }
        }
        .promo {
            color: $second-color;
        }
    }

    .logo {
        width: 18%;
        cursor: pointer;
    }

    .search-wrapper {
        // border-left: 1px solid $third-color;
        width: 35%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .search-placeholder {
            color: $main-color;
            font-weight: 200;
            font-size: 1rem;
            margin-left: 1rem;
        }
       
    }
}
.nav-links{
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-family: $main-font;
    cursor: pointer;
    font-size: 0.8rem;
}
.nav-links:hover{
    background-color: $second-color;
    border-radius: 8px;
    padding: 0.2em 0.1em;
    color: $sixth-color;
}

// SEARCHBOX

.searchBox-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    form {
        width: 80%;
        display: flex;
        position: relative;
    }

    input {
        width: 100%;
        margin: 1rem auto;
        border-radius: 2px;
        border: none;
        padding: 0.6rem;
        border-radius: 30px;
        background-color: $eighth-color;
        transition: 0.2s ease-in-out;

        &:focus {
            transition: 0.2s ease-in-out;
            border: 1px solid $second-color;
            outline: none;
        }
    }
     .search-svg {
            width: 30px;
            right: 1rem;
            top: 1.2rem;
            position: absolute;
        }
}

// VOICESEARCH
.voiceSearch-wrapper {
    width: 100%;

    .ais-VoiceSearch {
        position: absolute;
        right: 3rem;
        top: 30%;
        cursor: pointer;
        .ais-VoiceSearch-button {
            position: unset;
            width: 20px;
            height: 20px;
            cursor: pointer;
            svg{
                position:  relative !important;
            }
        }
    }
}
.ais-VoiceSearch-status {
    display: none;
}

.stop-scrolling{
    overflow: hidden;
}