// COLORS

$main-color: #fef0f2;
$second-color: #d89da2;
$third-color: #ae5058;
$fourth-color: #eeeeee;
$sixth-color: #1f1f24;
$seventh-color: #0000;
$eighth-color: #ffffff;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$main-font: "Poppins", sans-serif;

//MAIN STYLING
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: $main-font;
  color: $sixth-color;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  font-family: $main-font;
  color: $main-color;
}
